@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Dosis|Rajdhani|Roboto);


body {
    background-color: #ECF0F1;
    /*padding-top: 50px;*/
    font-family: 'Ubuntu', sans-serif;
}

html, body, .container-fluid, .home, .home-row, .fill-screen {
    height: 100%;
}

.navbar-trans {
    background-color:transparent;
    border-color:transparent;
}
.navbar > .navbar-brand {
    color: #212121;
    font-size: 1.5em;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #960000;
}
.iconNav {
    font-size: 1.5em;
}
.navbar-light .navbar-nav .nav-link {
    color: #212121;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #960000;
}


/*
 * ============================
 */


.img-slideshow {
    background-color: #FAE5D3;
    border: solid 30px #FAE5D3;
    height: 50%;
    width: 50%;
    position: absolute;
    padding: 20px;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.img-slideshow > figure {
    animation:imageAnimation 30s linear infinite 0s;
    backface-visibility:hidden;
    background-size: cover;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    /*background-position:center center;*/
    /*color:transparent;*/
    height:100%;
    /*left:0px;*/
    opacity:0;
    position:absolute;
    /*top:0px;*/
    width:100%;
    /*z-index:0;*/
}
.img-slideshow > figure:nth-child(1) {
    background-image:url('./../images/friend.PNG');
}
.img-slideshow > figure:nth-child(2) {
    animation-delay:6s;
    background-image:url('./../images/family.PNG');
}
.img-slideshow > figure:nth-child(3) {
    animation-delay:12s;
    background-image:url('./../images/temp.jpg');
}
.img-slideshow > figure:nth-child(4) {
    animation-delay:18s;
    background-image:url('./../images/me2.PNG');
}
.img-slideshow > figure:nth-child(5) {
    animation-delay:24s;
    background-image:url('./../images/friend2.JPG');
}
@keyframes imageAnimation {
    0% {
        animation-timing-function:ease-in;
        opacity:0;
    }
    8% {
        animation-timing-function:ease-out;
        opacity:1;
    }
    17% {
        opacity:1;
    }
    25% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
.typewriter {
    position: absolute;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: .5em;
}
.fake-navbar {
    position: absolute;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.fake-navbar ul {
    list-style: none;
}
.fake-navbar > ul > li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2em;
}
.fake-navbar a {
    text-decoration: none;
    color: #212121;
}
.fake-navbar a:hover {
    color: #960000;;
}
.down-arrow {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}
.down-arrow a {
    color: #212121;
    text-decoration: none;
}


.sexy-separator {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
.section-banner {
    font-family: 'Dosis', sans-serif;
    margin-bottom: 30px;
    display: block;
}

.section-banner > h1 {
    text-align: center;
}

/*
 * ==================
 */
.aboutme p {
   color: #5F6A6A;
}
.aboutme a {
   color: #960000;
   text-decoration: none;
}
.aboutme a:hover {
   color: #F26964;
}
.about-picture {
   height: 300px;
   width: 300px;
   border-radius: 50%;
   margin: 0px auto;
   border: solid 3px black;
   box-shadow: 0 1px 2px black, 0 -1px 1px black, inset 0 -1px 1px rgba(0,0,0,0.5), inset 0 1px 1px black;
}


.contactList {
    text-align: center;
}
.contactList ul {
    list-style: none;
}
.contactList a {
    color: #212121;
    text-decoration: none;
}
.contactList a:hover {
    color: #960000;
}
