@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Dosis|Rajdhani|Roboto);

body {
    background-color: #ECF0F1;
    /*padding-top: 50px;*/
    font-family: 'Ubuntu', sans-serif;
}
html, body, .container-fluid, .home, .home-row, .fill-screen {
    height: 100%;
}

/*---------------------------------------------------------------------------*/

/*
 * Making the navbar transparent and changing colors
 * =================================================
 */
.navbar-trans {
    background-color:transparent;
    border-color:transparent;
}
.navbar > .navbar-brand {
    color: #212121;
    font-size: 1.5em;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #960000;
}
.iconNav {
    font-size: 1.5em;
}
.navbar-light .navbar-nav .nav-link {
    color: #212121;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #960000;
}

/*----------------------------------------------------------------------------*/

/*
 * Creating the image slideshow with the beigeish background
 * =========================================================
 */

 .slideshow {
     height: 400px;
     width: 700px;
     position: absolute;
     padding: 20px;
     top: 45%;
     left: 50%;
     margin-right: -50%;
     transform: translate(-50%, -50%);
     -webkit-transform: translate(-50%, -50%);
 }
 .slideshow img {
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    height: 400px;
    min-width: 700px;
    max-width: 700px;

  }
  @media only screen and (max-width: 768px) {
      .slideshow {
          height: 400px;
          width: 300px;
          position: absolute;
          padding: 20px;
          top: 45%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
      }
      .slideshow img {
         border-radius: 20px;
         position: absolute;
         top: 50%;
         left: 50%;
         margin-right: -50%;
         transform: translate(-50%, -50%);
         -webkit-transform: translate(-50%, -50%);
         height: 250px;
         min-width: 300px;
         max-width: 300px;

       }
  }
/*
 * Changing the color of the typewriter thumbnailHoverEffect
 * =========================================================
 */
.typewriter {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: .5em;
}
@media only screen and (max-width: 768px) {
    .typewriter h1 p {
        font-size: .5em;
    }
}
/*
 * Adding in the navbar under the slideshow
 * ========================================
 */
.fake-navbar {
    position: absolute;
    top: 72%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.fake-navbar ul {
    list-style: none;
}
.fake-navbar > ul > li {
    display: inline;
    padding: 10px;
    font-size: 1.2em;
}
.fake-navbar a {
    text-decoration: none;
    color: #212121;
}
.fake-navbar a:hover {
    color: #960000;;
}
@media only screen and (max-width: 768px) {
    /* Remove padding */
    .fake-navbar ul {
        padding: 0px;
    }
    .fake-navbar > ul > li {
        display: inline;
        padding: 5px;
        font-size: 1em;
    }
}
/*
 * Changing the color of the font awesome down arrow. Animated by animate.css
 * ==========================================================================
 */
.down-arrow {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}
.down-arrow a {
    color: #212121;
    text-decoration: none;
}

/*----------------------------------------------------------------------------*/

/*
 * Styling the <hr> element to be beautiful
 * ========================================
 */
.sexy-separator {
    margin-top: 20px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
/*
 * Changing the font and alignment of each sections header
 * =======================================================
 */
.section-banner {
    font-family: 'Dosis', sans-serif;
    margin-bottom: 30px;
    display: block;
}
.section-banner > h1 {
    text-align: center;
}

/*----------------------------------------------------------------------------*/

/*
 * About me section styles. Changing color and link hovers. Also adding an image
 * =============================================================================
 */
.aboutme p {
   color: #5F6A6A;
}
.aboutme a {
   color: #960000;
   text-decoration: none;
}
.aboutme a:hover {
   color: #F26964;
}
.about-picture {
   height: 300px;
   width: 300px;
   border-radius: 50%;
   margin-bottom: 20px;
   border: solid 3px black;
   box-shadow: 0 1px 2px black, 0 -1px 1px black, inset 0 -1px 1px rgba(0,0,0,0.5), inset 0 1px 1px black;
}

/*----------------------------------------------------------------------------*/

/*
 * Contact list section styles. Centering the list as well as changing colors.
 * ===========================================================================
 */
.contact .sexy-separator {
    margin-top: 36px;
}
.contactList {
    text-align: center;
}

.contactList a {
    color: #212121;
    text-decoration: none;
}
.contactList a:hover {
    color: #960000;
}
