@import url(https://fonts.googleapis.com/css?family=Dosis|Rajdhani|Roboto|Ubuntu|Nixie+One);

body {
    background-color: #EADEDB;
}
/* Coloring each link */
a {
    text-decoration: none;
    color: #ea3057;
}
a:hover {
    text-decoration: none;
}

/* Some effects that appear multiple places throughout the website */
.separator {
    margin-top: 20px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #e5e5e5, #5b5553, #e5e5e5);
    background-image: -moz-linear-gradient(left, #e5e5e5, #5b5553, #e5e5e5);
    background-image: -ms-linear-gradient(left, #e5e5e5, #5b5553, #e5e5e5);
    background-image: -o-linear-gradient(left, #e5e5e5, #5b5553, #e5e5e5);
}
.about-me, .projects, .contact {
    font-family: 'Nixie One', 'sans-serif';
    font-weight: bolder;
    line-height: 1.4em;
}
.section-header {
    font-family: 'riffic-bold', 'Ubuntu', 'sans-serif';
    background-color: #CE3175;
}


/*
 *                             CSS for Home page
 * ---------------------------------------------------------------------------
 */
.home {
    height: 92vh;
}
.navbar a {
    font-family: 'Rajdhani', 'sans-serif';
    font-size: 1.5em;
}

.typewriter {
    font-family: 'riffic-bold';
}
/* make typewriter font smaller for small screens */
@media only screen and (max-width: 768px) {
    .typewriter h1 p {
        font-size: .5em;
    }
}
.sections {
    font-family: 'riffic-bold';
}
.sections a {
    color: #191919;
    font-size: 1.2em;
}
.sections a:hover {
    color: #ea3057;
}
.slideshow {
    height: 50%;
    max-height: 400px;
}
.slideshow > .carousel > .carousel-inner > .carousel-item > img {
    width: 90%;
    max-height: 400px;
}
.down-arrow a {
    color: #191919;
}


/*
 *                            CSS for About page
 * ---------------------------------------------------------------------------
 */
.profile-pic {
    height: 400px;
    width: 400px;
}
/* Lower the about me image size for small screens */
@media only screen and (max-width: 768px) {
    .profile-pic {
        height: 300px;
        width: 300px;
    }
}


/*
 *                          CSS for Project page
 * ---------------------------------------------------------------------------
 */
.projects img, .profile-pic{
    border: solid 10px #fffcea;
    -webkit-box-shadow: 6px 6px rgba(0,0,0,.1);
    box-shadow: 6px 6px rgba(0,0,0,.1);
}
.projects img {
    cursor: pointer;
}



/*
 *                          CSS for Contact page
 * ---------------------------------------------------------------------------
 */
.contact h4 {
    font-family: 'riffic-bold', 'Ubuntu', 'sans-serif';
}
.contact-social-media-header {
    font-family: 'riffic-bold', 'Ubuntu', 'sans-serif';
    display: inline;
}
