@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Dosis|Rajdhani|Roboto);

body {
    background-color: #ECF0F1;
    /*padding-top: 50px;*/
    font-family: 'Ubuntu', sans-serif;

    height: 100%;
}
h1 {
    font-size: 6em;
}

/*
 * === Navbar styling ===
 */

/* --- Navbar transparent transition --- */
.navbar {
    margin-bottom: 0px;
}
.navbar-transparent {
    background:transparent;
    background-image:none;
    border-color:transparent;
    box-shadow:none;
    transition: background-color .5s ease 0s;
}
.navbar-default .navbar-nav>li>a {
    color: black;
}
.nav-transparent .active a {
    background: none !important;
    color: #960000 !important;
}
.nav-transparent a:hover {
    background: none !important;
    color: #960000 !important;
}
.navbar-default .navbar-brand {
    color: black;
    font-size: 1.5em;
}
.navbar-default .navbar-brand:hover {
    color: #960000;
}
.navbar i {
    font-size: 1.5em;
}

/*
 * === Home styling ===
 */

 /* --- Image and logo (from logomakr.com) --- */
.fill-screen {
    background-color: pink;
}
.beigeBorder {
    background-color: #FAE5D3;
    border: solid 30px #FAE5D3;
    height: 50%;
    width: 50%;
    position: absolute;
    padding: 20px;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.fill-screen > .beigeBorder > figure {
    animation:imageAnimation 30s linear infinite 0s;
    backface-visibility:hidden;
    background-size: cover;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    /*background-position:center center;*/
    /*color:transparent;*/
    height:100%;
    /*left:0px;*/
    opacity:0;
    position:absolute;
    /*top:0px;*/
    width:100%;
    /*z-index:0;*/
}
.fill-screen > .beigeBorder > figure:nth-child(1) {
    background-image:url('./../images/friend.PNG');
}
.fill-screen > .beigeBorder > figure:nth-child(2) {
    animation-delay:6s;
    background-image:url('./../images/family.PNG');
}
.fill-screen > .beigeBorder > figure:nth-child(3) {
    animation-delay:12s;
    background-image:url('./../images/temp.jpg');
}
.fill-screen > .beigeBorder > figure:nth-child(4) {
    animation-delay:18s;
    background-image:url('./../images/me2.PNG');
}
.fill-screen > .beigeBorder > figure:nth-child(5) {
    animation-delay:24s;
    background-image:url('./../images/friend2.JPG');
}
@keyframes imageAnimation {
    0% {
        animation-timing-function:ease-in;
        opacity:0;
    }
    8% {
        animation-timing-function:ease-out;
        opacity:1;
    }
    17% {
        opacity:1;
    }
    25% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}


/* DEMO-SPECIFIC STYLES */
.typewriter {
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: .5em;
}
.typewriter p {
    color: black;
    text-decoration: none;
    cursor: default;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}
/* --- down arrow icon with animation (from animate.css) --- */
.down-arrow {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}
.down-arrow i {
    color: black;
}

/*
 * === Section banners ===
 */
.text-banner {
    text-align: center;
    font-family: 'Dosis', sans-serif;
    /*padding-top: 10px;*/

    margin-bottom: 30px;
    /*box-shadow: 0 1px 2px black, 0 -1px 1px black, inset 0 -1px 1px rgba(0,0,0,0.5), inset 0 1px 1px black;
    -moz-box-shadow: 0 1px 2px black, 0 -1px 1px black, inset 0 -1px 1px rgba(0,0,0,0.5), inset 0 1px 1px black);
    -webkit-box-shadow: 0 1px 2px black, 0 -1px 1px black, inset 0 -1px 1px rgba(0,0,0,0.5), inset 0 1px 1px black;*/
 }
 .text-banner h1 {
    font-size: 44px;
    color: #626567;
}
.style14 {
    margin-top: 30px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

/*
 * === About Me styling ===
 */
 .aboutme {
    color: #626567;
 }
.aboutme a {
    color: #960000;
    text-decoration: none;
}
.aboutme a:hover {
    color: #F26964;
}
.myPic {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin: 0px auto;
    border: solid 3px black;
    box-shadow: 0 1px 2px black, 0 -1px 1px black, inset 0 -1px 1px rgba(0,0,0,0.5), inset 0 1px 1px black;
}

.aboutme h4 {
    background: black;
    border-radius: 15px;
}
.aboutme ul {
    list-style: none;
}

/*
 * === Contact styling ===
 */

.contactList {
    text-align: center;
    margin-bottom: 40px;
}
.contact a {
    color: black;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
}

.contact a:hover {
    color: #960000;
}
