@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Dosis|Rajdhani|Roboto);

body {
  background-color: #FECEA8;
  font-family: 'Rajdhani', 'sans-serif';
}


/*
 * Customizing navbar colors and font size
 * =======================================
 */
.custom-nav {
  background-color: #FECEA8;
  font-size: 1em;
}
.custom-nav > .navbar-brand {
  color: #2A363B;
  font-size: 1.5em;
}
.custom-nav > .icons .nav-link{
  color: #2A363B;
}
.custom-nav > .icons .nav-link:hover {
  color: #E84A5F;
}


/*
 * CSS for Home page
 * ---------------------------------------------------------------------------
 */


.home {
  height: 93.7vh;
}

/* Typewrtier */
.typewriter {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: #2A363B;
}
@media only screen and (max-width: 768px) {
    .typewriter h1 p {
        font-size: .8em;
    }
}


.slideshow {
  padding-top: 10px;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  height: 45%;
  max-height: 400px;
}
.slideshow > .carousel > .carousel-inner > .carousel-item > img {
  height: 100%;
  width: 90%;
  max-height: 400px;
  max-width: 700px;
}

.sections {
    position: absolute;
    top: 72%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.sections a {
    text-decoration: none;
    color: #2A363B;
    font-size: 1.2em;
}
.sections a:hover {
    color: #E84A5F;
}

.down-arrow {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}
.down-arrow a {
    color: #2A363B;
    text-decoration: none;
}

.separator {
    margin-top: 20px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #FECEA8, #FF847C, #FECEA8);
    background-image: -moz-linear-gradient(left, #FECEA8, #FF847C, #FECEA8);
    background-image: -ms-linear-gradient(left, #FECEA8, #FF847C, #FECEA8);
    background-image: -o-linear-gradient(left, #FECEA8, #FF847C, #FECEA8);
}

.aev {
  height: 300px;
}

.list-group-item {
  background-color: transparent;
}
