@import url(https://fonts.googleapis.com/css?family=Muli|Montserrat|Questrial);
body {
    background-color: #FEF5E7;
}
/* Coloring each link */
a {
    text-decoration: none;
    color: #ea3057;
}
a:hover {
    text-decoration: none;
}

/* Some effects that appear multiple places throughout the website */
.separator {
    margin-top: 20px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #FEF5E7, #5b5553, #FEF5E7);
    background-image: -moz-linear-gradient(left, #FEF5E7, #5b5553, #FEF5E7);
    background-image: -ms-linear-gradient(left, #FEF5E7, #5b5553, #FEF5E7);
    background-image: -o-linear-gradient(left, #FEF5E7, #5b5553, #FEF5E7);
}
.about-me, .projects, .contact {
    font-family: 'Questrial', 'sans-serif';
    line-height: 1.4em;
}
.section-header {
    font-family: 'Montserrat', 'sans-serif';
}

/* CSS for home page */
.home {
    height: 92vh;
}
.navbar a {
    font-family: 'Muli', 'sans-serif';
    font-size: 1.5em;
    color: black !important;
}
.navbar a:hover {
    color: #ea3057 !important;
}

.typewriter {
    font-family: 'Montserrat', cursive;
}
/* make typewriter font smaller for small screens */
@media only screen and (max-width: 768px) {
    .typewriter h1 p {
        font-size: .5em;
    }
}
.sections {
    font-family: 'Montserrat';
}
.sections a {
    color: #191919;
    font-size: 1.2em;
}
.sections a:hover {
    color: #ea3057;
}
.slideshow {
    height: 50%;
    max-height: 400px;
}
.slideshow > .carousel > .carousel-inner > .carousel-item > img {
    width: 90%;
    max-height: 400px;
    max-width: 700px;
}
.down-arrow a {
    color: black;
}

/* CSS for about page */
.profile-pic {
    height: 450px;
    width: 450px;
}
/* Lower the about me image size for small screens */
@media only screen and (max-width: 768px) {
    .profile-pic {
        height: 300px;
        width: 300px;
    }
}

/* CSS for projects page */
.projects img, .profile-pic{
    border: solid 10px #fffcea;
    -webkit-box-shadow: 6px 6px rgba(0,0,0,.1);
    box-shadow: 6px 6px rgba(0,0,0,.1);
}
.projects img {
    cursor: pointer;
}
.hide {
    display: none;
}

/* CSS for contact page */
.contact h4 {
    font-family: 'Montserrat', 'sans-serif';
}
.contact-social-media-header {
    font-family: 'Montserrat', 'sans-serif';
    display: inline;
}
